*{
    margin: 0;
    padding: 0;
}

.card{
    background: black;
    border-radius: .8rem;
    max-width: 27%;
    /* max-height: 500px; */
    transition: .35s;
    margin: .5em;
    padding: 1rem
}

.card-body{
    margin: .4rem;
}

.card-img img{
    border-radius: .8rem;
    max-width: 100%;
    max-height: 100%;
}

.card-nickname{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: .2rem;
    margin-bottom: .3rem;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }




