
.replies{
    /* background-color: #FFFDD0; */
    position: absolute;
    left: 10%;
}

.comment-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
}

.comment-form button{
    width: fit-content;
    display: block;
    
  margin-left: auto;
  margin-right: 0;
}

.comment-form-textarea{
    border-radius: .8rem;
    border: none;
    padding: .5rem;
    resize: none;
    transition: .5s;
}

.comment-form-textarea:focus{
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
}




.comments{
    text-align: left;
}

.comments h1{
    margin: 1rem 2rem;
}

.comments h3{
    text-align: justify;
    background-color: var(--quarter-color);
    padding: 1rem .6rem;
    border-radius: .8rem;
    margin: 1rem 0;
    font-style: italic;
}

.comments h3::after{
    content: '"';
}

.comments h3::before{
    content: '"';
}

.comment{
    margin: 0.8rem 0;
    display: flex;
    padding: .8rem;
    flex-direction: row;
/*     background-color: var(--third-color);
 */    
    background-color: rgb(231, 236, 239, .8);
 width: fit-content;
    border-radius: .8rem;
    transition: .5s;
}

.comment:hover{
    transform: scale(1.02);
}


.comment-header{
    display: flex;
    font-size: small; 
    margin-bottom: .5rem;
}

.comment-author{
    color: #282827c1;
}

.comment-creation-date{
margin-left: .6rem;}

.feedbacks{
    margin-top: .4rem;
}

.feedback{
    font-size: smaller;
    cursor: pointer; 
}

.feedbacks .thumbs-down{
    margin-left: .25rem;
}



