.feedbacks{
    
}

.replies{
    /* background-color: #FFFDD0; */
    position: absolute;
    left: 10%;
}

.feedback{
    cursor: pointer;
}

.comment{
    display: flex;
    padding: .8rem;
    flex-direction: row;
}